@use 'base/var' as *;
@use 'base/breakpoints' as *;

@use 'base/default';

@use 'layout/container';
@use 'layout/header';
@use 'layout/page';
@use 'layout/footer';

@use 'component/section';
@use 'component/form';
@use 'component/mock';
@use 'component/testimonial';

@use 'section/hero';
@use 'section/how';
@use 'section/profile';
@use 'section/demo';
@use 'section/faq';
@use 'section/join';