@use '../base/var' as *;
@use '../base/breakpoints' as *;

/* ===== MOCK ===== */
.mock {
  position: relative;
  @include media-breakpoint-down(sm) {
    margin-right: -16px;
    margin-left: -16px;
  }

  &-inner {
    width: 231px;
    max-width: 100%;
    border-radius: 30px;
    margin: 0 auto;
    aspect-ratio: 430 / 932;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background: transparent;
    box-shadow: 0 16px 48px -8px rgba(black, .1);
    @include media-breakpoint-up(xs) {
      width: 270px;
      border-radius: 33px;
    }
    @include media-breakpoint-up(xsm) {
      width: 300px;
      border-radius: 38px;
    }

    iframe {
      width: 430px;
      height: 932px;
      border: none;
      display: block;
      background: transparent;
      @include user-select;
      transform: scale(.53648069);
      transform-origin: top left;
      @include media-breakpoint-up(xs) {
        transform: scale(.62790698);
      }
      @include media-breakpoint-up(xsm) {
        transform: scale(.69767442);
      }
    }
  }

  &.video {
    .mock-inner {
      pointer-events: none;
    }

    a.mock-inner {
      display: block;
      pointer-events: auto !important;
      cursor: pointer
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      z-index: 1;
      transform: scale(1.011) translateY(1px);
      transform-origin: center;
      @media (prefers-reduced-motion: reduce) {
        display: none;
      }
    }
  }

  .click-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0;
    z-index: 5;
    background: transparent;
    cursor: pointer
  }
}