@use '../base/var' as *;
@use '../base/breakpoints' as *;

/* ===== SECTION ===== */
.section {
  padding: 48px 0;
  position: relative;
  @include media-breakpoint-up(md) {
    padding: 64px 0;
  }
  @include media-breakpoint-up(xl) {
    padding: 80px 0;
  }

  &::after {
    @include pseudo;
    width: 100vw;
    height: 1px;
    border-bottom: 1px solid rgba(black, .06);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate3d(-50%, 0, 0);
  }

  &-header {
    margin-bottom: 24px;
    text-align: center;
    @include media-breakpoint-up(lg) {
      .cols & {
        text-align: left;
      }
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 36px;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &-head {
    padding-top: 20px;
    margin-bottom: 10px;
    text-align: center;
  }

  &-subheading {
    color: $color-dark;
  }

  &-title {
    margin-bottom: 8px;
    font: bold 12px/1 $font-default;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: $color-muted;
  }
}