@use '../base/var' as *;
@use '../base/breakpoints' as *;

/* ===== TESTIMONIAL ===== */
.testimonial {
  blockquote {
    max-width: 760px;
    padding: 18px 24px;
    margin: 0 auto;
    border-radius: 16px;
    line-height: 1.55;
    display: block;
    background: white;
    box-shadow: 0 8px 24px rgba(black, .08);
    @include media-breakpoint-up(md) {
      font-size: 18px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 24px;
      padding-bottom: 22px;
    }

    p {
      margin: 0;
    }

    cite {
      margin-top: 8px;
      display: block;
      font-style: normal;
      font-size: 16px;
      font-weight: 600;
    }
  }
}