@use '../base/var' as *;
@use '../base/breakpoints' as *;

/* ===== DEMO ===== */
.demo {
  padding-bottom: 24px;
  @include media-breakpoint-up(md) {
    @include media-breakpoint-down(xl) {
      padding-bottom: 12px;
    }
  }

  &::after {display: none;}

  .three {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include media-breakpoint-up(md) {
      margin-top: 40px;
      flex-direction: row;
      justify-content: center;
      gap: 12px;
      @include media-breakpoint-down(lg) {
        justify-content: space-between;
      }
    }
    @include media-breakpoint-up(lg) {
      gap: 24px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 62px;
      gap: 48px;
    }

    .mock-inner {
      @include media-breakpoint-up(md) {
        @include media-breakpoint-down(lg) {
          width: 228px;
          border-radius: 28px;
          iframe {
            transform: scale(.53023256);
          }
        }
      }
      @include media-breakpoint-up(lg) {
        width: 270px;
        border-radius: 33px;
        iframe {
          transform: scale(.62790698);
        }
      }
    }

    .mockup {
      &-label {
        margin-bottom: 12px;
        font-weight: 600;
        letter-spacing: .01em;
        text-align: center;
        @include media-breakpoint-up(md) {
          margin-bottom: 18px;
        }
        @include media-breakpoint-up(xl) {
          margin-bottom: 24px;
        }
      }

      &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .testimonial {
    margin-top: 32px;
    @include media-breakpoint-up(md) {
      margin-top: 60px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 94px;
    }
  }
}