@use '../base/var' as *;
@use '../base/breakpoints' as *;

/* ===== HERO ===== */
.hero {
  padding: 0 0 48px;
  position: relative;
  @include media-breakpoint-up(md) {
    padding-bottom: 60px;
  }
  @include media-breakpoint-up(xl) {
    padding-bottom: 74px;
  }

  &::after {
    @include pseudo;
    width: 100vw;
    height: 1px;
    border-bottom: 1px solid rgba(black, .06);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate3d(-50%, 0, 0);
  }

  .cols {
    @include media-breakpoint-up(md) {
      @include media-breakpoint-down(lg) {
        flex-direction: column;
        gap: 24px;
      }
      .col:nth-child(2) {
        text-align: center;
      }
    }
  }

  .section-header {
    @include media-breakpoint-up(lg) {
      padding-top: 20px;
      text-align: left;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 40px;
      margin-bottom: 24px;
    }
  }

  .mock {
    @include media-breakpoint-up(md) {
      display: inline-flex;
    }
  }

  .form {
    padding: 12px 0 18px;
    @include media-breakpoint-up(lg) {
      padding: 0;
    }

    &-note {
      @include media-breakpoint-up(lg) {
        text-align: left;
      }
    }
  }
}